
{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}}">
  <header class="post-header">
      <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
  </header>
  <section class="post-excerpt">
      <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo; Read more</a></p>
  </section>
  {{> "postmeta"}}
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
